body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .main{
    width: 90%;
    margin: 0 auto;
  }
  
  header{
   margin: 0 auto; 
   font-size: 2rem;
   width: 30%;
   padding: 4rem 0 3rem 0;
  }
  
  section{
    display: flex;
    padding: 1rem;
    gap: 1rem;
  }
  
  .hero_image{
    margin: auto;
    width: 20rem;
  }
  
  .hero_image> img{
    width: 100%;
    min-height: 20rem;
  }
  
  .justify-center{
    justify-content: center;
  }
  
  .wrap{
    flex-wrap: wrap;
  }
  
  .align-center{
    align-items: center;
  }
  
  .article{
    width: 49%;
  }
  
  form{
    width: 30%;
    margin: 1.5rem auto 0 auto;
    padding: 1.2rem;
  }
  
  .form_input{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
  }
  
  .form_input input, select{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    padding: 0.6rem;
  }
  
  .form_input input, select:focus{
    outline: 0;
  }
  
  .form_button input{
    background-color: rgb(87, 87, 243);
    color: whitesmoke;
  }
  
  .form_button input:hover{
    background-color: blueviolet;
  }
  
  footer{
    margin-top: 100px;
   box-shadow: 25px 25px 25px 25px #f0f0f0;
    width: 100%;
  }
  
  .footer_container{
    padding: 1rem 0;
  }
  
  .footer_container h5{
    text-align: center;
  }